{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block content %}

<div class="example-wrapper">
    <div class="jumbotron">
        <h1 class="display-4 text-primary">Trello manager</h1>
        <p class="lead">Cette application automatise des actions pour vos tableaux Trello</p>
    </div>

    <h2>Menu</h2>
    <div class="list-group">
        <a href="{{ path("settings") }}" class="list-group-item list-group-item-action">Parametrage</a>
    </div>

    <h2 class="mt-4">Statistiques</h2>

</div>
{% endblock %}
