{% extends 'base.html.twig' %}

{% block title %}New BoardList{% endblock %}

{% block content %}
    <h1>Create new BoardList</h1>

    {{ include('board_list/_form.html.twig') }}

    <a href="{{ path('board_show', { id: board.id}) }}">back to list</a>
{% endblock %}
