{% extends 'base.html.twig' %}

{% block title %}Hello SettingsController!{% endblock %}

{% block content %}
    <div class="example-wrapper">
        <h1 class="display-4 text-primary mb-4">Settings</h1>

        <h2>Information importante</h2>

        <p>Pour l'instanet, la configuration actuelle est à faire manuellement en base de données</p>
        <p><a href="https://github.com/LoicEsk/trello-manager#trello-manager">Documentation</a></p>

        <h2>Menu</h2>
        <div class="list-group">
            <a href="{{ path("board_index") }}" class="list-group-item list-group-item-action">Les tableaux</a>
            <a href="{{ path("board_list_index") }}" class="list-group-item list-group-item-action">Les Listes</a>
            <a href="{{ path("task_index") }}" class="list-group-item list-group-item-action">Les tâches</a>
        </div>
    </div>
{% endblock %}
